models/*Model*/*
data/*.rar
data/*.csv
data/*.txt
data/*.json
!data/QS_1.csv
!data/TD.csv
data/*/*
train/*
!train/*.py
!train/*.md
jieba
local/
DataMining/*.json
__pycache__/
model/.ipynb_checkpoints/
.ipynb_checkpoints
token/*.txt
*token.txt
*tokey.txt
*title.txt
*ignore.txt
out
cur
pre
raw.txt
Unt*.ipynb*
*.w2v*
*.w2v
current.csv
*.npy
*.rar
content.csv
error_log.txt
log.txt
script/*.csv
script/*.txt
*.log
*.pkl
models/*.csv
ckip/*
models/*.txt
query/*.txt
query/*.csv
